<footer class="navbar footer">
	<div class="container">
		<span class="navbar-brand"><i class="fas fa-copyright pr-2"></i>2019</span>
		<span class="nav-item ml-auto"><i class="fas fa-code pr-2"></i>With<i class="fas fa-heart px-2"></i>By Abdelli Nasredine</span>
	</div>
</footer>