<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0">
	<div class="container">
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link mr-2" href="/cours"><i class="fas fa-book-reader pr-3"></i>Cours</a>
	      <a class="nav-item nav-link " href="/forum"><i class="fas fa-users pr-3"></i>Forum</a>
	    </div>
	  </div>
	</div>
</nav>